@import '@radix-ui/colors/violet.css';

.div-full-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column ;
}


.react-search.box {
  color: #000000 !important;}

.mauve-background {
  background-color:#121113 !important;
}

.black-background {
  background-color:#000000 !important;
}

.image-upload{
  border-radius: 100%;
  width: 8em;
  height: 8em;
  background-color:#33255B;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;  
}



.file-input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.0;
}

.file-input-button{
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 100%;
  width: 3em;
  height: 3em;
  padding: 0.5em;
}

.content {
  margin-top: 7em;
}

.no-underline {
  text-decoration: none;
  color:#ffffff;
}

.white-link{
  color:#ffffff;
}

.z-index-1 {
  z-index: 1;
}
.z-index-full {
z-index: 9999;
}
.clickable {
  cursor: pointer;
}

.isSelected {
  background-color: var(--violet-10);
}

.search-list{
  border-radius: 0.5em;
  padding : 0.5em;
}
.search-list:hover{
  background-color: var(--violet-10);
}

.full-height {
  height: 20vh;
  width: 100vw;
}